
.portfolio-title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.portfolio-section {
  padding: 42px 24px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.portfolio-grid,
.hero-grid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.portfolio-item  {
  min-width: 320px;
  max-width: 395px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.portfolio-item-title {
  font-weight: 600;
  text-align: center;
}

.portfolio-role {
  text-align: center;
}