
@media (max-width: 1300px) {
  .hero-section {
    flex-direction: column;
    padding: 42px 24px;
  }

  .hero-title {
    font-size: 48px;
  }

  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 880px;
    margin: 0 auto;
  }
  .hero-grid {
    grid-template-columns: 1fr;
    max-width: 564px;
    margin: 0 auto;
  }
}

@media (max-width: 880px) {
  .portfolio-grid,
  .hero-grid {
    grid-template-columns: 1fr;
  }
  .contact-info {
    flex-direction: column;
    gap: 20px;
  }
}
